#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar{
      display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    height: 45px;
    /* background: #f2f2f2; */
    align-items: center;
}
.navbar img{
    width: 42px;
}
.navbar .right-sec{
  display: flex;
  align-items: center;
  gap: 10px;
}
.wallet-btn{
  height: 40px;
  background-color: #ffffff0d;
  border: 1px solid #ffffff1a;
  border-radius: 21px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}
.App {
  text-align: center;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}
.tradeBoxparent {
  height: calc(100vh - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tradeBox {
  width: 400px;
  background-color: #000;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #3e3d3d;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #ffffff;
  border: 3px solid #000000;
  font-size: 12px;
  transition: 0.3s;
      transform: rotate(90deg);
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}
.inputs input{
    background-color: #141414 !important;
    color: white !important;
    border-width: 0px !important;
    height: 96px !important;
    margin-bottom: 5px;
    font-size: 35px;
    border-radius: 12px !important;
    outline: none;
}
.inputs input::placeholder {
  color: #ffffff;
}
.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3e3d3d;
  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  color: #ffffff;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3e3d3d;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
   color: #ffffff;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
      display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: calc(100%);
    height: 55px;
    font-size: 20px;
    border-radius: 12px;
    color: #000000;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-top: 8px;
}

.swapButton[disabled] {
      background-color: #090d19;
    opacity: 0.4;
    color: #b9babe9b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #dfdfdf;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #f0f0f0
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}